* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    --primary-red: #e63946;
    --secondary-red: #d62828;
    --light-bg: #b5f5b3;
    --accent: #de965e;
    --dark: #00357f;
  }
  
  .header {
    background-color: 3E64FF;
    color: 3E64FF;
    text-align: center;
    text-shadow: #1d3557;
  }

  .emergency-banner{
    background-color: B2FCFF;
    color: #000000;
  }
 
.nav {
    background-color: var(--dark);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  

 .nav a {
        color: white;
        text-decoration: none;
        padding: 1rem 1rem;
        border-radius: 5px; 
        transition: background-color 0.3s;
 }

 .nav a:hover {
    background-color: var(--accent);
    color: var(--dark);
  }

  .beahero{
    background-color: cadetblue;
    height: 250px;
    display: flex;
    align-items: center;
   justify-content: center;
    color: rgb(244, 212, 206);
    text-align: center;
    position: relative;

  }

  .cta-button {
    background-color: var(--primary-red);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
    margin-top: 1rem;
    display: inline-block;
    
  }
  
  .cta-button:hover {
    transform: scale(1.05);
    background-color: var(--secondary-red);
  }


  .info-section {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    gap: 4rem;
    background-color:"light pink;
  }

  .info-card {
    padding: 1.5rem;
    border-radius: 30px;
    background-color: var(--light-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
